/* tampil mobil */

.section-cars .card-cars {
  width: 333px;
  height: 586px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}

.section-cars .card-cars .cars-img {
  width: 100%;
  height: 15vw;
  border-radius: 2px;
  object-fit: cover;
  margin-bottom: 40px;
}

.section-cars .card-cars h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.section-cars .card-cars h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.section-cars .card-cars p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.section-cars .card-cars .spec-cars {
  margin-bottom: 24px;
}

.section-cars .card-cars .spec-cars .spec-detail {
  margin-bottom: 16px;
}

.section-cars .card-cars .spec-cars .spec-detail .spec-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.section-cars .card-cars .choose-cars .btn-choose-cars {
  background: #5cb85f;
  border-radius: 2px;
}

.section-cars .card-cars .choose-cars .btn-choose-cars:hover {
  background-color: #439b46;
}

.section-cars .card-cars .choose-cars .btn-choose-cars a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.section-search .pencarianmu {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 18px 0px 0px 44px;
}

.col-input {
  width: 230px;
}
